<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert New Game</title>
<link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
</head>
<body>
<div>
 <div th:replace="fragments/header :: header"></div>
 <h1>New Game Form</h1>
 <br/>
 <form th:object="${game}" th:action="@{/save_game}" method="post">
    <div class="form-group">
        <label for="game_name">Game Name</label>
        <input style="width:25%" class="form-control" id="game_name" type="text" th:field="*{name}" />
    </div>
    <div class="form-group">
        <label for="game_description">Game Description</label>
        <input style="width:25%" class="form-control" id="game_description" type="text" th:field="*{description}" />
    </div>
    <div class="form-group">
        <label for="game_genre">Game Genre</label>
        <input style="width:25%" class="form-control" id="game_genre" type="text" th:field="*{genre}" />
    </div>
    <div class="form-group">
        <label for="game_developer">Game Developer</label>
        <input style="width:25%" class="form-control" id="game_developer" type="text" th:field="*{developer}" />
    </div>
     <div class="form-group">
        <label for="game_engine">Game Engine</label>
        <input style="width:25%" class="form-control" id="game_engine" type="text" th:field="*{engine}" />
    </div>
    <button class="btn btn-primary" type="submit">Insert</button>
 </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>