<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Update Game </title>
        <link th:rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <div th:replace="fragments/header :: header"></div>
        <h1>Game Edit Form</h1>
        <br/>
        <form th:object="${game}" th:action="@{/save_game}" method="post">
            <div class="form-group">
              <label for="game_id">Game Id</label>
              <input style="width:25%" class="form-control" id="game_id" type="text" th:field="*{id}" readonly=""/>
            </div>
            <div class="form-group">
              <label for="game_name">Game Name</label>
              <input style="width:25%" class="form-control" id="game_name" type="text" th:field="*{name}" />
            </div>
            <div class="form-group">
              <label for="game_description">Game Description</label>
              <input style="width:25%" class="form-control" id="game_description" type="text" th:field="*{description}" />
            </div>
            <div class="form-group">
              <label for="game_genre">Game Genre</label>
              <input style="width:25%" class="form-control" id="game_genre" type="text" th:field="*{genre}" />
            </div>
            <div class="form-group">
              <label for="game_developer">Game Developer</label>
              <input style="width:25%" class="form-control" id="game_developer" type="text" th:field="*{developer}" />
            </div>
            <div class="form-group">
              <label for="game_engine">Game Engine</label>
              <input style="width:25%" class="form-control" id="game_engine" type="text" th:field="*{engine}" />
            </div>
            <button class="btn btn-primary" type="submit">Update</button>
        </form>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>